body {
    font-family: Arial, sans-serif;
    background-color: #232f3e;
    color: #ff9900;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

h1 {
    color: #ff9900;
}

#game-container {
    margin-top: 20px;
}

#word-container {
    font-size: 2em;
    letter-spacing: 10px;
    margin: 20px 0;
}

#wrong-letters-container {
    color: red;
    margin-top: 10px;
}

#score-container {
    margin-top: 10px;
}

input[type="text"] {
    font-size: 1.5em;
    width: 50px;
    text-align: center;
    margin-top: 10px;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    background-color: #ff9900;
    color: #3b4046;
    border: none;
    border-radius: 5px;
    margin: 10px;
}

button:hover {
    background-color: #e68a00;
}

.hidden {
    display: none;
}
